body{
	font: 15px/1.5 Verdana, Arial, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}


header{
	background: #35424a;
	color:#ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
}

header a{
	color: #ffffff;
	text-transform: upercase;
	font-size: 15px;
}

header li{
	float: center;
	display: inline;
	padding: 0px 20px 0px 20px;
}

header #tittle{
	text-align: center;
}

header #tittle{
	margin:0;
}

header nav{
	float:left;
	margin-top: 10px;
}

header a:hover{
	color:#cccccc;
	font-weight: Bold;
}
.background{
	background-color: #a3a375;

}
#boxes{
	margin-top: 20px;
}

#boxes .box{
	float: left;
	width: 30%;
	padding: 10px;
	text-align: left;
}

.box{
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
	padding: 10px;
	margin-top: 30px;
	background-color: #fff;
}

.box img{
	width: 100%;
}

.read-more-btn{
	background-image: linear-gradient(to right, #1c03b5, #5c8bef);
	text-decoration: none;
	padding: 5px 12px 8px;
	border-radius: 20px
	line-height: 20px;
	font-size: 14px;
	color: #fff;
	border: none!important;
}
.center{
	 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.orig{
	 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.aghar{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h3{
	text-align: center;
}

footer{
	padding:20px;
	margin-top: 20px;
	color:#ffffff;
	background-color: #e8491d;
	text-align: center;
}
